@import "tailwindcss";



.input {
  @apply w-full border border-gray-300 rounded-lg p-2 mb-3 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.btn-primary {
  @apply bg-indigo-600 text-white py-2 rounded-lg font-semibold hover:bg-indigo-700 transition;
}
